.logIn{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #3296329d;
}
.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;   
 }

.brand>img {
    height: 5rem;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #000000;
    border-radius: 2rem;
    padding: 3rem 5rem;
}

.login-input{
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #107a10;
    border-radius: 0.4rem;
    color: #ffffff;
    width: 100%;
    font-size: 1rem;
}

.login-input:focus{
    border: 0.1rem solid #05ca05;
    outline: none;
}

.logInBtn{
    background-color: #89d789;
    color: #ffffff;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.logInBtn:hover{
    background-color: #107a10;
}

.login-text{
    color: #ffffff;
}

.login-text>a {
    color: #107a10;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}