.logoutButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: black;
    border: none;
    cursor: pointer;
}

.logoutIcon{
    font-size: 1.3rem;
    color: #ebe7ff;
}